<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Approt server</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>
  <body>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>