body {
  background-color: #282c34;
  color: white;
  margin: 20px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
  margin: 0px;
  padding: 2px;
}

a {
  color: #00b6fd;
  font-weight: bold;
}

header {
  font-size: 2em;
}

.container {
  width: 100%;
}
